html{
  height: 100%;
  width: 100%;
}
*{
  scrollbar-color: #1779A4;
  scrollbar-width: thin;
  text-decoration: none;
}
*::-webkit-scrollbar{
    width: 0.25rem;
    height: 15px;
    background-color: #B2B2B2;
}
*::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #1779A4;
}
.color-red{
    color: #C20000;
}
body{
  background:#fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.main{
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.content{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 3.5rem;
}
.loadingcontent{
  height: 100%;
  width: 100%;
  background-color: #13131350;
  position: fixed;
  z-index: 999999;
  /* display: flex; */
  display: none;
}
.loadingcontent *{
  margin: auto;
}
.dialog{
  background-color: #484545;
  min-width: 25rem;
  min-height: 10rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc5;
  display: flex;
  flex-direction: column;
}
.dialog *{
  margin: auto;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.dialog button{
  width: 3rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  border: 0px solid;
  cursor: pointer;
}
.dialog-button-default{
  background-color: #646161;
}
.dialog-button-recommended{
  background-color: #108EF3;
}
.dialog-button-default:hover{
  background-color: #737171;
}
.dialog-button-recommended:hover{
  background-color: #53B2FF;
}
/* NAV */
.nav{
  position: sticky;
  top: 0;
  z-index: 999;
  height: 3rem;
  background: #E9F1F7;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}
.start{
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items:center;
}
.end{
  display: flex;
  align-items:center;
}
.nav-buttons{
  display: flex;
}
.nav-button-div{
  position: relative;
  display: inline-block;
  align-items: center;
  padding-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.nav-button-element{
  position: relative;
  display: inline-block;
  align-items: center;
  padding-right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}
.nav-button-a{
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  line-height: 0;
  text-decoration: none;
}
.nav-button{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0px;
  border-radius: 100%;
  background-color: white;
}
.nav-button-leftnav{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0px;
  background: none;
}
.notification-button{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0px;
  border-radius: 100%;
  background-color: white;
}
.nav-button-img{
  height: 100%;
  width: 100%;
  user-select: none;
}
.nav-profile-login{
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-right: 0.5rem;
  border-style: solid;
  border-radius: 0.2rem;
  border-width: 2px;
  border-color: #1779A4;
  transition: background-color 0.5s;
}
.nav-profile{
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-right: 0.5rem;
  border-radius: 0.15rem;
  transition: background-color 0.5s;
}
.nav-profile-button{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px;
  background: none;
}
.nav-profile-img{
  height: 85%;
  border-radius: 50%;
  border: 1px solid black;
  user-select: none;
}
.nav-profile-login-img{
  user-select: none;
  height: 65%;
}
.nav-profile-img-arrow{
  height: 20%;
  margin-left: 0.3rem;
  user-select: none;
}
.nav-profile-p{
 padding-left: 0.5rem;
 font-weight: bold;
 font-family: 'Roboto', sans-serif;
 color: #1779A4;
 transition: color 0.5s;
 user-select: none;
}
.nav-btn-txt-div{
  display: none;
  position: relative;
  left: -2.75rem;
  background-color: #2298CB;
  width: 8rem;
  height: 80%;
  margin-top: 1rem;
  border-radius:3px;
  overflow: visible;
  opacity: 0.9;
  z-index: 996;
}
.nav-btn-txt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  user-select: none;
}
.notification-window{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
  border-radius: 1px;
  max-width: 30rem;
  min-width: 15rem;
  width: 40vw;
  max-height: 60rem;
  min-height: 20rem;
  height: 60vh;
  position: relative;
  right: -9rem;
  float: right;
  margin-top: 0.5rem;
  z-index: 997;
  opacity: 0.95;
  display: none;
}
.notification-title{
  height: 3rem;
  width: 100%;
  border-bottom: solid lightgray 1px;
  align-items: center;
}
.notification-title-text{
  align-items: center;
  padding-left: 0.5rem;
  position: absolute;
  display: inline-block;
  width: 100%;
}
.notification-title-h3{
  display: flex;
  position: absolute;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-left: 1rem;
  margin-top: 1rem;
}
.notification-config{
  align-items: center;
  padding-left: 0.5rem;
  float: right;
  display: flex;
  height: 100%;
}
.notifications{
  height: calc(100% - 3rem - 1px);
  width: 100%;
  overflow: scroll;
}
.notifications::-webkit-scrollbar{
    width: 0.4rem;
    height: 0px;
    visibility: hidden;
}
.notifications:hover::-webkit-scrollbar{
    visibility: visible;
}
.notifications::-webkit-scrollbar-thumb:vertical {
    background-color: gray;
    visibility: hidden;
}
.notifications:hover::-webkit-scrollbar-thumb:vertical{
    visibility: visible;
}
.notification{
  width: 100%;
  display: flex;
}
.notification:hover{
  background-color: #E9F1F7;
}
.notification-button-div{
  position: relative;
  display: inline-block;
  padding-right: 0.5rem;
  width: 3rem;
  height: 3rem;
}
.notification-image{
  height: 100%;
  width: 4rem;
  padding-top: 1rem;
  padding-left: 0.2rem;
}
.notification-text{
  width: 100%;
  overflow: hidden;
  align-items: center;
}
.notification-options{
  height: 100%;
  width: 3rem;
  padding-top: 1rem;
}
.notification-time{
  color: gray;
  font-size: 0.75rem;
}
.notification-opt{
  position: absolute;
  background-color: white;
  z-index: 996;
  right: 1rem;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  top: 3rem;
}
.notification-opt-a{
  display: flex;
  height: 2.5rem;
  width: 100%;
  white-space: nowrap;
}
.notification-opt-button:hover{
  background-color: #E9F1F7;
}
.notification-opt-button{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 2rem;
  cursor: pointer;
  background-color: white;
  border: 1px;
}
.notification-opt-button-image-div{
  width: 2.5rem;
  height: 65%;
  overflow: hidden;
}
.notification-opt-button-image{
  height: 100%;
  width: 100%;
  user-select: none;
}
.notification-opt-button-text{
  padding-left: 1rem;
  user-select: none;
}
.nav-profile:hover{
  background-color: #D7E3EC;
}
.nav-profile-login:hover{
  background-color: #1779A4;
}
.nav-profile-login:hover .nav-profile-p{
  color: white;
}
.nav-button-div:hover .nav-btn-txt-div{
  display: block;
}
.nav-button-div:hover .nav-button{
  background-color: #D7E5EB;
}

/* LEFT NAV */
.left-nav{
  min-width: 3.5rem;
  width: 3.5rem;
  height: 100%;
  background-color: #E9F1F7;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing:border-box;
  padding-top: 4rem;
  transition: width 200ms ease;
}
.left-nav-active{
  width: 20rem;
}
.left-nav p{
  overflow: hidden;
  max-width: 0%;
  max-height: 0%;
}
.left-nav-active p{
  max-width: 100%;
  max-height: 100%;
}
.left-nav img{
  height: 1.5rem;
  margin-left: 0.6rem;
}
.left-nav-cat{
  width: 100%;
  border-bottom: solid #25252550 1px;
  height: 2rem;
}
.left-nav-div{
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: left;
  text-decoration: none;
  color: inherit;
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
}
.left-nav-div p{
  margin-left: 1rem;
}
.left-nav-div:hover{
  background-color: #1dbbff;
}
.left-nav-a{
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  align-items: center;
  color: black;
}
.levtnav-button{
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: 0px;
  background: none;
}
.left-nav-active .levtnav-button{
  margin: 0;
}

/* ANNOUNCEMENTS */
.anouncements{
  position: relative;
  z-index: 998;
  width: 100%;
}
.anouncement{
  padding: 0.5rem;
  align-items: center;
  animation: anouncement-create .3s linear;
}
.anouncement:last-child{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}
.warning{
  background-color: #FBFF9D;
}
.error{
  background-color: #FF9D9D;
}
.anouncement-close{
  float: right;
  height: 0.5rem;
  justify-content: center;
  align-items:center;
}
.anouncement-close-button{
  width: 100%;
  cursor: pointer;
  border: 0px;
  background: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.closeanounce:after{
  content: 'X';
}
@keyframes anouncement-create {
  from {
		transform: translate(0, -100%);
		opacity: 0;
	}
	to {
		transform: translate(0);
		opacity: 1;
	}
}



/* LO SIGUIENTE ESTA LICENCIADO CON CC0, ES UN ICONO DE CARGA */
/* FUENTE: https://loading.io/css/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* FIN ICONO DE CARGA CC0 */
