<div class="nav">
    <div class="start" id="start">
      <a class="start" href="/"><p>FAPRETBOT</p></a>
    </div>
    <div class="center" id="center">
    </div>
    <div class="end" id="end">
      <div class="nav-buttons">
        <div class="nav-button-div">
            <a class="nav-button-a" href="/help">
              <button id="button" class="nav-button">
                <img class="nav-button-img" src="/img/helpicon.svg">
                </img>
              </button>
            </a>
            <div class="hide-btn nav-btn-txt-div">
              <a class="nav-btn-txt"> Asistencia </a>
            </div>
          </div>
      </div>
      <div class="nav-profile-login">
        <a class="nav-button-a" href="<%= OAuthURL %>">
          <button id="button" class="nav-profile-button">
            <img class="nav-profile-login-img" src="./img/discordlogo.svg">
            </img>
            <p class="nav-profile-p">ACCEDER</p>
          </button>
        </a>
      </div>
    </div>
</div>
  <!--
  <div class="anouncements">

    <div class="anouncement warning">
      <div class="anouncement-close">
        <a class="nav-button-a" href="">
          <button id="closeanouncement" class="anouncement-close-button">
            <p class="closeanounce"></p>
          </button>
        </a>
      </div>
      <div class="anouncement-text">
        Sitio web en creacion...
      </div>
      <div class="anouncement-close">
      </div>
    </div>
    
    <div class="anouncement error">
      <div class="anouncement-close">
        <a class="nav-button-a" href="#">
          <button id="closeanouncement" class="anouncement-close-button">
            <p class="closeanounce"></p>
          </button>
        </a>
      </div>
      <div class="anouncement-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
      </div>
    </div>
  </div>
  -->